@{
    ViewBag.Title = "Trang Chủ";
}

<div class="main">
    <div class="background-index">
        <div class="box-form">
            <h2>
                <span>Món Ăn Chất Lượng</span>
                <br>
                <span>Đậm Chất Xứ Huế</span>
            </h2>
            <p>
                Chuyên cung cấp các món ăn đặc sản ẩm thực Huế.
                <br> Mang đến cho khách hàng những món ăn ngon và phục vụ tuyệt vời nhất.
            </p>
        </div>
    </div>

    <div class="index-page">
        <!-- Món Ăn Bán Chạy -->
        <h1>Món Ăn Bán Chạy</h1>
        <div class="product-list">
            @foreach (var product in ViewBag.TopSellingProducts)
            {
            <div class="product-item">
               <a href="@Url.Action("Details", "Home", new { id = product.ProductID })">
                   <img src="/@product.ProductImage" alt="@product.ProductName">
                   <h3>@product.ProductName</h3>
                   <p class="price"><strong>@(string.Format("{0:#,##0} VNĐ", product.Price))</strong></p>
               </a>
            </div>
            }
        </div>

        <!-- Món Ăn Mới -->
        <h2>Món Ăn Mới</h2>
        <div class="product-list">
            @foreach (var product in ViewBag.NewProducts)
            {
            <div class="product-item">
                <a href="@Url.Action("Details", "Home", new { id = product.ProductID })">
                    <img src="/@product.ProductImage" alt="@product.ProductName">
                    <h3>@product.ProductName</h3>
                    <p class="price"><strong>@(string.Format("{0:#,##0} VNĐ", product.Price))</strong></p>
                </a>
            </div>
            }
        </div>

        <!-- Món Ăn Giảm Giá -->
        <h2>Món Ăn Đang Giảm Giá</h2>
        <div class="product-list">
            @foreach (var product in ViewBag.DiscountedProducts)
            {
            <div class="product-item">
                <a href="@Url.Action("Details", "Home", new { id = product.ProductID })">
                    <img src="/@product.ProductImage" alt="@product.ProductName">
                    <h3>@product.ProductName</h3>
                    <p class="price"><strong>@(string.Format("{0:#,##0} VNĐ", product.Price))</strong></p>
                </a>
            </div>
            }
        </div>

        <!-- Món Ăn Hot Nhất Tháng -->
        <h2>Món Ăn Hot Nhất Tháng</h2>
        <div class="product-list">
            @foreach (var product in ViewBag.HotProducts)
            {
            <div class="product-item">
                <a href="@Url.Action("Details", "Home", new { id = product.ProductID })">
                    <img src="/@product.ProductImage" alt="@product.ProductName">
                    <h3>@product.ProductName</h3>
                    <p class="price"><strong>@(string.Format("{0:#,##0} VNĐ", product.Price))</strong></p>
                </a>
            </div>
            }
        </div>
    </div>
</div>